/*Selectores simples: etiqueta, tipo o elemento */

h1 {
    color: purple;
    margin: 10px;
}

body {
    background: white;
}

p {
    color: red;
}


/*Selectores simples: clases
Se indican con un punto y el nombre de la clase
NOTA:
* No pueden empezar con un número
* Pueden iniciar con - o _
* Pueden llevar dos-puntos. Ejemplo: title:main {}
* Pueden ser de una letra
* Es de BUENAS PRACTICAS usar clases*/

.title {
    color: green;
}

.description {
    color: yellow;
}

.blue {
    color: blue;
}


/*Empaquetado de botón*/

.button {
    display: inline-block;
    padding: .75em 2em;
    background: steelblue;
    color: white;
    border-radius: .25em;
}


/*Selectores de ID
* NO ES BUENA PRÁCTICA utilizar ID en CSS
* No respeta la cascada*/

#title {
    background: yellow;
}


/*Selectores compuestos: agrupados
EXAMPLE:
h2 {
    color: pink;
}

h4 {
    color: pink;
}*/

h2,
h4 {
    color: whitesmoke;
}


/*Selectores compuestos: combinados
* Los selectores combinados no tienen espacios entre ellos*/

h2.title {
    color: brown;
    background: grey;
}

h2.title.nat {
    color: grey;
    background: brown;
}


/*Selectores descendientes
* Se espacifican con un espacio
* Se puede seguir entre los descendientes padres,hijos,...*/

body span {
    color: slateblue;
}


/*Operadores * > + ~ * /

/* Selecciona todo(*)*/

* {
    /*background: orangered;
    color: red;*/
}


/*Hijo directo || No acepta un rango diferente*/

body>p {
    color: green;
}


/*Hijo siguiente singular*/

p+div {
    border: 1px solid;
}


/*Selector de todos los hermano siguiente en plural*/

p~div {
    background: yellow;
}


/*Selectores de atributo
* Usan []
[atributo="valor"]*/

[type="text"] {
    border: 2px solid purple;
}

[type="number"] {
    border: 3px solid green;
}

[required] {
    border: 1px solid red;
}

[type="submit"] {
    background: slateblue;
    border: none;
    color: white;
}


/*Selector de atributos con comodines*/

[type^="sub"] {
    color: aqua;
    background: green;
}

a[href^="http://"] {
    border-bottom: 1px dashed red;
    /*
    - dashed otorga línea punteada
    - border-bottom: Indica la parte de abajo
    */
}


/*Termina con [atributo$]="valor"*/

a[href$=".mp4"] {
    background: fuchsia;
}


/* Contiene [atribito*="valor"] no importa el lugar en donde se encuentre la palabra clave*/

a[href*="team"] {
    background: paleturquoise;
}